.title{
    font-family:'Constantia';
    margin-top: 20px;
    font-size: 20px;
    color:cornflowerblue;
}

.main-container button{
    color:beige;
    cursor: pointer;
    border-width: 4px;
    font-family: Georgia;
    background-color:mediumpurple;
    border-color:mediumpurple;
    margin-top: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.main-container button:hover{
    background-color:green;
    border-color:green;
    transition:0.2s;
}

.search-bar{
    margin-left: 0px;
}
